/DynamicAPI/bin
/DynamicAPI/obj
/NewMachinesMod/bin
/NewMachinesMod/obj
/packages
/MoreCropsLoader/obj
/MoreCropsLoader/bin
/.vs/StardewValley_NewMachinesMod/v14/*.suo
/DynamicAPI.Tests/bin
/DynamicAPI.Tests/obj
/MoreCropsLoader/*.user
